<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z8"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [opened]="!isScreenSmall"
  >
    <mat-toolbar color="primary">
      <span>Contacts</span>
    </mat-toolbar>
    <mat-nav-list class="app-sidenav-list">
      <mat-list-item *ngFor="let user of users | async">
        <a matListItemTitle href="#">{{ user.name }}</a>
        <!-- <button mat-icon-button (click)="showInfo(link)" matListItemMeta>
            <mat-icon>info</mat-icon>
         </button> -->
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
