<mat-toolbar color="primary">
  <button
    mat-flat-button
    color="primary"
    class="sidenav-toggle"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Contacts</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddContactDialog()">
      <span>New Contact</span>
    </button>
  </mat-menu>
</mat-toolbar>
